:root{
	--black: #333;
	--white: #fff;
}

html {
	background: var(--white);
	color: var(--black);
}


h1, h2, h3, h4 {
	margin: unset;
}

.model {
	width: 100%;
	height: 50vh;
}

video {
	width: 100%;
}

img {
	width: 100%;
}

.page-link{
	padding: 10px;
}

.page-link + .page-link{
	border-top: 1px solid black;
}


/* styles for the landing page */

.landing-page {
/* variables */
	--internal-height: 20rem;
	--center-space: 2rem;
}

.landing-page {
	background-image: url(/media/personal/background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background: #55ccff; */
	height: 66vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.landing__name {
	border: 2px solid white;
	border-radius: 1rem;
	padding: 1rem;
	text-align: right;
	width: 6em;

	height: var(--internal-height);
	vertical-align: bottom;


	display: flex;
	flex-direction: column;
	justify-content: center;

	background: #fff;
	color: #333;
}

.landing__details {
	border: 2px solid white;
	border-radius: 1rem;
	padding: 1rem;
	height: var(--internal-height);

	margin-left: var(--center-space);
	
	text-decoration: underline;
	font-family: monospace;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;
}


.landing__details li {
	margin-bottom: 0.5rem;
}
