:root{
	--black: #333;
	--white: #fff;
}

html {
	background: var(--white);
	color: var(--black);
}

header{
	/* background: var(--black); */
	/* color: var(--white); */
	border-bottom: 1px solid grey;
	padding: 1rem;
}

section {
	padding: 1rem;
}


h1, h2, h3, h4 {
	margin: unset;
}

.model {
	width: 100%;
	height: 50vh;
}

video {
	width: 100%;
}

img {
	width: 100%;
}

.page-link{
	padding: 10px;
}

.page-link + .page-link{
	border-top: 1px solid black;
}


/* Putting the images on the side of title in project list */
.page-link img {
	width: 10rem;
	float: right;	
}

.page-link a * {
	max-width: calc(100% - 12rem);
}

/* clearfix hack */
.page-link::after{
	content: "";
	clear: both;
	display: table;
}

