<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="scripts/utils.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		
		<!-- 3d Model Viewer -->
		<!-- Import the component -->
		<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
		<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
		
		<link rel="stylesheet" href="https://use.typekit.net/mnh5ihx.css">
		<link rel="stylesheet" href="stylesheets/fonts.css">
		<link rel="stylesheet" href="stylesheets/utils.css">
		<link rel="stylesheet" href="stylesheets/main.css">
		<link rel="stylesheet" href="stylesheets/gallery.css">
		<link rel="stylesheet" href="stylesheets/landing-page.css">
	</head>
	<body>

	<header class="landing-page">

		<div class="landing-page__content">

		<h1 class="landing__name">Connor Winiarczyk.com</h1>
		<p> This is a place for me to show off some of the cool stuff I've worked on.</p>
		
		<ul class="landing__details">
			<li><a class="landing__link" href="https://github.com/connorwiniarczyk">github.com/connorwiniarczyk</a></li>
			<li><a class="landing__link" href="https://www.linkedin.com/in/connor-winiarczyk-1b106810b">https://www.linkedin.com/in/connor-winiarczyk-1b106810b</a></li>
			<li><a class="landing__link" href="">connorwiniarczyk@gmail.com</a></li>
		</ul>

		</div>		

	</header>

	<section id="projects" class="section--projects">
		<h1><a href="#projects"># Projects</a></h1>
		<ul class="projects-list">
			{%for project in projects%}
			<li class="project-link">
				<a href="projects/{{project.id}}" class="" style="display: flex; align-items: center;">
					<img class="thumbnail" src="{{project.thumbnail}}" style="flex-shrink: 0;"></img>		
					<div style="margin-left: 2rem;">
						<h2>{{project.title}}</h2>
						<p>{{project.description}}</p>
					</div>		
				</a>
			</li>
			{%endfor%}
		</ul>
	</section>

	<section id="gallery" class="section--gallery">
		<h1><a href="#gallery"># Gallery </a></h1>

		<div class="gallery">
		{%for image in gallery%}
			<div class="gallery__item">
			<a href="#gallery-{{loop.index}}" class="gallery__item">
				<img class="gallery__image" src="{{image.image}}">
			</a>
			</div>
		{%endfor%}
		</div>

	</section>

	{% for image in gallery %}
		<div class="lightbox" id="gallery-{{loop.index}}">
			<div class="lightbox__content">
				<a href="#close-lightbox" class="btn btn--close"></a>
				<a href="#gallery-{{loop.index + 1}}" class="btn btn--next btn--arrow"></a>
				<a href="#gallery-{{loop.index - 1}}" class="btn btn--previous btn--arrow"></a>
				<object class="lightbox__image" data="{{image.image}}"></object>
				<h3 class="lightbox__title">{{image.title}}</h3>
				<p class="lightbox__body">The body</p>
			</div>
		</div>
	{%endfor%}



	</body>
</html>
