<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="scripts/utils.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		
		<!-- 3d Model Viewer -->
		<!-- Import the component -->
		<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
		<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
		
		<link rel="stylesheet" href="https://use.typekit.net/mnh5ihx.css">
		<link rel="stylesheet" href="stylesheets/fonts.css">
		<link rel="stylesheet" href="stylesheets/utils.css">
		<link rel="stylesheet" href="stylesheets/main.css">
		<link rel="stylesheet" href="stylesheets/gallery.css">
		<link rel="stylesheet" href="stylesheets/landing-page.css">

		<!-- <script type="text/javascript"> -->
		<!-- 	const --> 	
		<!-- </script> -->
	</head>
	<body>

	<header class="landing-page">

		<div class="landing-page__content">

		<h1 class="landing__name">Connor Winiarczyk.com</h1>
		<p> This is a place for me to show off some of the cool stuff I've worked on.</p>
		
		<ul class="landing__details">
			<li><a class="landing__link" href="https://github.com/connorwiniarczyk">github.com/connorwiniarczyk</a></li>
			<li><a class="landing__link" href="https://www.linkedin.com/in/connor-winiarczyk-1b106810b">https://www.linkedin.com/in/connor-winiarczyk-1b106810b</a></li>
			<li><a class="landing__link" href="">connorwiniarczyk@gmail.com</a></li>
		</ul>

		</div>		

	</header>

	<style>
		#projects h1 {
			margin-top: 2rem;
		}
	</style>

	<section id="projects" class="section--projects">
		<h1>#  CellMan</h1>
		<p> CellMan is an abbreviation of Cell Management Board, a printed circuit board I designed for Lafayette College's FSAE team as part of our car's Battery Management System. Each CellMan mounts to a prismatic LiFePO cell and measures its voltage and temperature to be reported back to a central Pack Management Board, (PacMan). Each CellMan Board also contains a flyback converter for facilitating an active balancing circuit between the cells.</p>

		<div class="gallery">
		{%for element in media%}
			{% if element.section == "cellman" %}
			<a href="#gallery-{{loop.index}}" class="gallery__item">
				<img class="gallery__image" src="{{element.url}}">
			</a>
			{% endif %}
		{%endfor%}
		</div>

		<h1>#  Flip Pixel</h1>
		<p> Flip Pixel is an attempt at creating an open source flip dot display for electronics hobbyists and other display enthusiasts.</p>

		<div class="gallery">
		{%for element in media%}
			{% if element.section == "flippixel" %}
			<a href="#gallery-{{loop.index}}" class="gallery__item">
				<img class="gallery__image" src="{{element.url}}">
			</a>
			{% endif %}
		{%endfor%}
		</div>

		<h1># Data Aquisition System</h1>
		<div class="gallery">
		{%for element in media%}
			{% if element.section == "scada" %}
			<a href="#gallery-{{loop.index}}" class="gallery__item">
				<img class="gallery__image" src="{{element.url}}">
			</a>
			{% endif %}
		{%endfor%}
		</div>

		<h1>#  WJRH Website</h1>
		<p>WJRH is Lafayette College's student run radio station. As a member of their engineering team, I've been working to replace their website with a more modern one. It is written using VanillaJS and sports a number of fun features, including a music player and functional spectrum analyzer. The website uses a GraphQL API to query information from the station's various backend resources, such as music metadata and program schedules.</p>

		<h1>#  Remote Radio Shows</h1>
		<p>In 2020, with no students on campus, WJRH was struggling to produce content. </p>

		<h1>#  Electric Cafe Racer</h1>

	</section>

	{%for element in media%}
		<div class="lightbox" id="gallery-{{loop.index}}">
			<div class="lightbox__content">
				<a href="#close-lightbox" class="btn btn--close"></a>
				<a href="#gallery-{{loop.index + 1}}" class="btn btn--next btn--arrow"></a>
				<a href="#gallery-{{loop.index - 1}}" class="btn btn--previous btn--arrow"></a>

				<h2 class="lightbox__title">{{element.title}}</h2>
				{%if element.media_type == "image"%}
					<object class="lightbox__image" data="{{element.url}}"></object>
				{%endif%}
				{%if element.media_type == "video"%}
					<video class="lightbox__image" controls src="{{element.url}}"></video>
				{%endif%}
				{%if element.media_type == "model"%}
					<model-viewer class="lightbox__image model" src="{{element.url}}" autorotate camera-controls></model-viewer>
				{%endif%}
				<p class="lightbox__description">{{element.description}}</p>
			</div>
		</div>
	{%endfor%}

	</body>
</html>
